footer{
	padding:3% 7%;
	display:flex;
	background-color: rgb(30,30,30);
	color:rgb(220,220,220);
}
footer .footer-text{
	width:33%;
}
footer .footer-social{
	width:33%;
}
footer .footer-social-row{
	margin-top: 5%;
	display:flex;
	width:100%;
	justify-content: center;
	align-items: center;
}
footer img{
	padding-left:5%;
	cursor:pointer;
}